@import forms.tools.MensualiteForm
@(form: Form[MensualiteForm.Data], user: Option[models.User] = None, result: Option[controllers.ToolsResult] = None)(implicit req: RequestHeader, messages: Messages)

@import org.joda.time.DateTime
@import helper.CSRF
@import views.helper.Semantic.input

@layout.main("Calculer la mensualité", user = user) {
    <div id="mensualite-tool">

        <div class="ui main container">

            <div class="ui tabular menu">
                <a class="active item">
                    Mensualité
                </a>
                <a class="item" href="/tools/capital">
                    Capital
                </a>
                <a class="item" href="/tools/amortissement">
                    Amortissement
                </a>
            </div>

            <div class="ui basic segment">
                <div class="ui verticaly divided grid">

                    <div class="two column equal height row">
                        <div class="nine wide column">
                            <form class="ui form" method="post">
                                @CSRF.formField

                                <div class="three fields">
                                    @helper.inputText(
                                        form("capital"),
                                        '_label -> "Capital",
                                        'placeholder -> "Capital",
                                        'autofocus -> "autofocus",
                                        '_class -> "required eight wide",
                                        '_icon -> "euro"
                                    )
                                    @helper.inputText(
                                        form("taux"),
                                        '_label -> "Taux",
                                        'placeholder -> "Taux",
                                        '_class -> "required four wide"
                                    )
                                    @helper.inputText(
                                        form("assurance"),
                                        '_label -> "Assurance",
                                        'placeholder -> "Taux",
                                        '_class -> "four wide"
                                    )
                                </div>

                                <div class="two fields">
                                    @helper.inputText(
                                        form("duree"),
                                        '_label -> "Durée",
                                        'placeholder -> "Durée",
                                        '_class -> "required"
                                    )
                                    <div class="field">
                                        <label for="">&nbsp;</label>
                                        @helper.select(
                                            form("typeDuree"),
                                            options =
                                                    helper.options(
                                                        ("A", "Année"),
                                                        ("M", "Mois")
                                                    ),
                                            'class -> "ui dropdown"
                                        )
                                    </div>
                                </div>

                                <button id="calc-action" type="submit" class="ui submit button">
                                    <i class="icon calculator"></i>
                                    Calculer
                                </button>
                            </form>
                        </div>
                        <div class="seven wide center aligned column">
                            <div class="ui basic segment">
                                <div class="ui small statistic">
                                    <div class="value">
                                    @result match {
                                        case Some(ToolsResult(m, _)) => {
                                            @("%,.2f".format(m)) €
                                        }
                                        case None => {
                                            -
                                        }
                                    }
                                    </div>
                                    <div class="label">Mensualité</div>
                                </div>
                                <div class="ui small statistic">
                                    <div class="value">
                                    @result match {
                                        case Some(ToolsResult(m, c)) => {
                                            @("%,.2f".format(c)) €
                                        }
                                        case None => {
                                            -
                                        }
                                    }
                                    </div>
                                    <div class="label">Coût</div>
                                </div>
                            </div>

                            @if(result.isDefined) {
                                <div>
                                @if(user.isDefined) {
                                    <a href="/credit/create?capital=@form("capital").value&taux=@form("taux").value&duree=@form("duree").value&typeDuree=@form("typeDuree").value&depart=@DateTime.now.toString("dd.MM.yyyy")&assurance.taux=@form("assurance").value&assurance=@form("assurance").value"
                                    class="ui circular icon button">
                                        <i class="save icon"></i>
                                    </a>
                                    <div class="ui special popup">
                                        <p>Enregistrer dans mes crédits</p>
                                    </div>
                                }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
    $(document).ready(function() {

        $ ('.icon.button').popup({
            inline: true
        });

    });
  </script>
}