@(startForm:Form[String])(implicit request: RequestHeader, lang: Lang, messages: Messages)
@import helper.CSRF
@import views.helper.Semantic.input

@layout.secure(Messages("password.title")) {

    @request.flash.get("error").map { msg =>
        <div class="ui icon error message attached">
            <i class="warning icon"></i>
            <div class="content">
                <div class="header"> @Messages(msg) </div>
            </div>
        </div>
    }

    <div class="ui attached segment">
        <form class="ui login large form @if(startForm.hasErrors) {error}"
                autocomplete="off"
                method="POST">

            <p>
                Veuillez saisir votre adresse e-mail. Vous allez ensuite recevoir le lien pour réinitialiser votre
                mot de passe.
            </p>

            @CSRF.formField

            @helper.inputText(
                startForm("email"),
                '_class -> "required",
                'placeholder -> Messages("signUp.email1"),
                'autofocus -> "autofocus",
                '_icon -> "mail"
            )

            <button type="submit" class="ui submit button">@Messages("password.reset")</button>
            <a href="@request.headers.get("referer").getOrElse("/")">@Messages("signUp.cancel")</a>

        </form>
    </div>
}