/* Registration layout */
.secure-layout {
    background-color: #444;
    background: -webkit-linear-gradient(#555, #000);
    background: -o-linear-gradient(#555, #000);
    background: -moz-linear-gradient(#555, #000);
    background: radial-gradient(#555, #000);
}
.secure-layout .column {
    max-width: 480px;
}
.secure-layout > .grid {
    height: 100%;
    visibility: hidden;
}
.secure-layout .ui.attached.steps {
    margin: 0 0 -1px -2px !important;
}

/* Main layout */
.main-layout>.pusher {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.main-layout>.pusher>div {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.main.container {
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 480px;
}
.ui.top.main.menu .header.item {
    padding: 0em;
}
.ui.top.main.menu .toc.item {
    display: none;
}
.ui.top.main.menu .item {
    font-size: 1.1rem;
    padding-bottom: 0.95rem;
}
.ui.top.main.menu .active.item {
    /*box-shadow: 0px -3px 0px #00b5ad !important;*/
    border-bottom: 0.4em solid;
    background: none;
    padding: 0.78571em 0.95em 0.49em;
}
@media only screen and (max-width: 700px) {
    .ui.top.main.menu .item,
    .ui.top.main.menu .menu {
        display: none;
    }
    .ui.top.main.menu .toc.item,
    .ui.top.main.menu .header.item {
        display: block;
    }
}
.ui.brand.image {
    width: 5em;
}
.footer.segment {
    padding : 5em 0em;
}

/* Homepage */
.homepage .masthead.background {
    background: url(/assets/images/euro-billets-de-banque.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.homepage .secondary.pointing.menu .toc.item {
    display: none;
}
.homepage .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
    background-color: rgba(0,0,0,0.8) !important;
}
.homepage .masthead .logo.item img {
    margin-right: 1em;
}
.homepage .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.homepage .masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.homepage .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
.homepage .ui.vertical.stripe {
    padding: 8em 0em;
}
.homepage .ui.vertical.stripe h3 {
    font-size: 2em;
}
.homepage .ui.vertical.stripe .button + h3,
.homepage .ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.homepage .ui.vertical.stripe .floated.image {
    clear: both;
}
.homepage .ui.vertical.stripe p {
    font-size: 1.33em;
}
.homepage .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.homepage .quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
@media only screen and (max-width: 700px) {
    .homepage .secondary.pointing.menu .item,
    .homepage .secondary.pointing.menu .menu {
        display: none;
    }
    .homepage .secondary.pointing.menu .toc.item {
        display: block;
    }
    .homepage .masthead.segment {
        min-height: 350px;
    }
    .homepage .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .homepage .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

/* Tools pages */
#mensualite-tool,
#capital-tool,
#ammortissement-tool {
    margin-top: 4.5em;
}
#mensualite-tool .ui.statistic,
#capital-tool .ui.statistic,
#ammortissement-tool .ui.statistic {
    max-width: none;
}

/* Credits list page */
.credit-list .ui.cards .add.card {
    border: dashed #999;
    background-color: #e0e0e0;
}
.credit-list .ui.cards .add.card a {
    margin-top: 2em;
    margin-bottom: 2em;
}
.credit-list .ui.special.popup p {
    text-align: left;
}
.credit-list .masthead .statistic {
    margin-bottom: 0;
}
/*.credit-stats .tab-label {*/
    /*display: none;*/
/*}*/

.credit-stats .grid > .column:first-child {
    padding-right: 0;
}

/* commons */
.masthead.segment {
    padding-top: 5.2em;
    padding-bottom: 2em;
    background-color: #00b5ad;
    background: -webkit-linear-gradient(#1b1c1d 30%, #00b5ad); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1b1c1d 30%, #00b5ad); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1b1c1d 30%, #00b5ad); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1b1c1d 30%, #00b5ad); /* Standard syntax */
}
.masthead.segment #editBtn {
    margin-left: 2em;
}
.ui.attached.message {
    margin-right: 1px !important;
}
.hidden.menu {
    display: none;
}

/* Datepicker style */
.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0); /* support: IE8 */
}
a.ui-state-default.ui-state-active {
    background-color: #00b5ad;
    color: #ffffff;
    outline-style: auto;
    outline-width: 5px;
    outline-color: -webkit-focus-ring-color;
}
.ui-state-disabled {
    cursor: default !important;
}
.ui-icon {
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 1px solid lightgray;
    padding: 0;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .5em;
    text-align: center;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}
.ui-widget {
    font-size: 1.1em;
}
.ui-widget .ui-widget {
    font-size: 1em;
}
.ui-widget-content {
    background: #ffffff;
    color: #333333;
}
a.ui-state-default {
    color: #333333;
}
.ui-widget-header {
    border: none;
    background: #00b5ad;
    color: #ffffff;
    font-weight: bold;
}
.ui-widget-header a {
    color: #ffffff;
}
