@(id: Long, operations: Seq[Operation])

<div class="ui divided list">
    @for(op <- operations) {
        <div class="item">
                @op match {
                    case MensualiteOperation (d, f, m) => {
                        <a class="right floated compact icon button" href="/credit/@id/operations/remove?date=@d.toString("MM.yyyy")&typ=MENS"><i class="trash icon"></i></a>
                        <div class="content">
                            @d.toString("MM.yyyy")
                            Mensualité de
                            @("%,.2f".format(m)) €
                        </div>
                    }

                    case TauxOperation (d, f, t) => {
                        <a class="right floated compact icon button" href="/credit/@id/operations/remove?date=@d.toString("MM.yyyy")&typ=TAUX"><i class="trash icon"></i></a>
                        <div class="content">
                            @d.toString("MM.yyyy")
                            Taux à
                            @("%.2f".format(t)) %
                        </div>
                    }

                    case RemboursementOperation (d, f, m) => {
                        <a class="right floated compact icon button" href="/credit/@id/operations/remove?date=@d.toString("MM.yyyy")&typ=REMB"><i class="trash icon"></i></a>
                        <div class="content">
                            @d.toString("MM.yyyy")
                            Remboursement de
                            @("%,.2f".format(m)) €
                        </div>
                    }
                }
        </div>
    }
</div>